{{ define "main" -}}
<ul class="posts">
<table style="width: 150%;">
    <colgroup>
       <col span="1" style="width: 50%;">
       <col span="1" style="width: 30%;">
       <col span="1" style="width: 25%;">
    </colgroup>
    <thead>
    	<th>
    		.Title
    	</th>
    	<th>
    		.File.LogicalName
    	</th>
    	<th>
    		.Date.Format
    	</th>
        <th>
            .WordCount
        </th>
    </thead>
	<tbody>
	{{ range .Data.Pages -}}
	  <tr>
	    <td>
	      <a href="{{ .Permalink }}">{{ .Title }}</a> 
	      
	    </td>
	  	<td>
	    <a href="{{.Permalink}}">{{ .File.LogicalName }}</a>
     	</td>		
	    <td>
	      <time class="pull-right post-list" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "2006-01-02 15:04" }}</time>
		</td>
        <td>{{.WordCount}}</td>
	  </tr>
	{{- end }}
	</tbody>
</table>
</ul>
{{- end }}
