<div id='{{ with .Get "id" }}{{.}}{{else}}md-content{{end}}'>
	Loading
</div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
	var oReq = new XMLHttpRequest();
	var url = "{{ .Get "src"}}"
	var div_id ="{{ with .Get "id" }}{{.}}{{else}}md-content{{end}}"
	const div = document.getElementById(div_id);
	// div.innerHTML = `Loading <a href="${url}">${url}</a>`
	// div.innerHTML = `Loading <a href="${url}">${url}</a>`
oReq.addEventListener("load", function(event){
      div.innerHTML = marked(oReq.responseText);
});
oReq.addEventListener("error", function(event){
	div.innerHTML= `Error ${oReq.responseText}`
});
oReq.open("GET", url);
oReq.send();
</script>